<div class="container">
<p id="notice"><%= notice %></p>

    <h1 class="text-primary">Microposts</h1>

    <table class="table table-striped table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th class="table-success">Content</th>
          <th class="table-success">User</th>
          <th colspan="3" class="table-success"></th>
        </tr>
      </thead>

      <tbody>
        <% @microposts.each do |micropost| %>
          <tr>
            <td><%= micropost.content %></td>
    <!--    <td><%#= micropost.user_id %></td>-->
            <td><%#= User.find_by(id: micropost.user_id).name %></td>
            <td><%= link_to 'Show', micropost %></td>
            <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
            <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Micropost', new_micropost_path %>
</div>
